:root {
    --my-yellow: color #FFD600;
    --gray : color #515A5F !important;
}
.yellow {
    color: #FFD600 !important;
}
body{
    font-family: 'Oswald', sans-serif !important;
}
/* debut header */
header {
    background: url(../img/header.jpg) no-repeat center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100%;
}
.header_content {
    height: 50vh;
}
.header_content h1 {
    font-size: 80px !important;
}
.slider{
    top: 12%;
}
.slider_content {
    background-color: rgba(0, 0, 0, 0.5);
    height: 150px;
}
.slider_content h1 {
    font-size: 90px;
}
.scroll_down_container {
    height: 30vh;
}
.scroll_down_container i {
    animation: scroll_down 2.2s cubic-bezier(0.15, 0.41, 0.69, .94);
    animation-iteration-count: infinite;
}
@keyframes scroll_down {
    0%   { opacity: 0;}
    10%  { transform: translateY(0); opacity: 1;}
    100%  { transform: translateY(35px); opacity: 0;}
}
/* fin header */

/* debut navbar pc */
nav {
    font-size: 25px !important;
}
.brand {
    font-size: 25px !important;
}
/* fin navbar pc  */

/* debut navbar mobile */
/* fin navbar mobile */

/* debut about */
#about {
    padding-top: 100px;
    padding-bottom: 100px;
}
/* fin about */

/* debut parcour */
#parcour {
    background: url(../img/formation-img.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
    width: 100%; 
}
.overlay_parcour {
    background: rgba(0, 0, 0, 0.5);
    height: 400px;
    width: 100%;
}
.img_formation img {
    height: auto;

}